*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.about{
    box-sizing: border-box;
    padding: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(people-celebrating-ramadan-together.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}